body {
    margin: 0%;
    padding: 0%;
    background-color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn {
    margin: 10px;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px; 
    font-size: 1rem;
    cursor: pointer;
}

.btn-logout {
    background-color: beige;
    color: black;
}

.postcreation textarea {
    resize: none;
    width: 300px;
    height: 50px;
}

.jj {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(63, 63, 63);
    color: beige;
    font-size: smaller;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(63, 63, 63);
    font-size: 40px;
    color: beige;
}

.creation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(63, 63, 63);
    font-size: 10px;
    color: rgb(220, 239, 245);
}

.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(63, 63, 63);
    font-size: 20px;
    color: rgb(220, 239, 245);
}

.temp {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.oo {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.bb{
    background-color: #F0FFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.postcreation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(63, 63, 63);
    padding-bottom: 1%;
}

.postcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-left: 5%;
    margin-right: 5%; */
    margin-bottom: 1%;
    margin-top: 1%;
    border: solid 2px black;
    border-radius: 20px;
    background-color: azure;
    padding: 2%;
}

/* .comment_container {
    border: solid 2px black;
    border-radius: 30px;
    display: flex;
    width: 100%;
    align-items: center;
    margin-right: 4%;
    justify-content: space-between;
    flex-direction: column;
} */
.comment_container textarea {
    height: 40px;
    width: 350px;
    border: solid 1px black;
    border-radius: 10px;
}

.one_comment {
    background-color: yellow;
    border: solid 2px black;
    border-radius: 30px;
    display: flex;
    /* width: 100%; */
    align-items: center;
    padding: 1%;
    justify-content: space-between;
    flex-direction: column;
}