<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Pages</title>
    <link rel="stylesheet" href="../style/PostPage.css">
</head>
<body>
    <header class="name">
        <div class="header">
            Hello Mr {{.Currenuser}}
            <form action="/logout" method="post">
                <input type="text" name="username" value="{{.Currenuser}}" style="visibility: hidden;">
                <button type="submit" class="btn btn-logout">Log Out</button>
            </form>
        </div>
        <br>
        <div class="postcreation" id="postcreation"></div>
        <div class="temp" id="temp">
            <div class="creation">
                <button type="submit" class="oo" id="Create">Create Post</button>
            </div>
            <form action="/forum?user={{.Currenuser}}" method="post">
                <div class="filter">
                    <input type="radio" name="categories" id="sport" value="sport">
                    <label for="sport">Sport</label>
                    <input type="radio" name="categories" id="politic" value="politic">
                    <label for="politic">Politic</label>
                    <input type="radio" name="categories" id="all" value="all">
                    <label for="all">All</label>
                    <input type="radio" name="categories" id="enteairtement" value="enteairtement">
                    <label for="enteairtement">Enteairtement</label>
                    <pre>    </pre>
                    <button type="submit" class="oo" id="filter">Filter</button>
                </div>
            </form>
        </div>
    </header>
    {{range .Posts}}
        <div class="postcontainer">
            <h3>title: {{.Title}}</h3>
            <h4>categorie: {{.Categorie}}</h4>
            <p>{{.Body}}</p>
            <sub>by: {{.Usernamepublished}} | <span>{{.Time}}</span> ago </sub><br>
            <sub class="comment_container">
                {{range .Comments}}
                    <div class="one_comment">
                        <h4>by {{.Comment_writer}}</h4>
                        <p>{{.Comment_body}}</p>
                        <sub><span>{{.Comment_time}}</span> ago </sub>
                    </div>
                {{end}}
                <form action="/create_comment?post_id={{.Postid}}&comment_writer={{.CurrentUsser}}" method="post">
                    <div class="bb">
                        <textarea name="comment_body" id="comments" placeholder="Add your comments..."></textarea><br>
                        <button type="submit" class="btn">Comment</button>
                    </div>
                </form>
            </sub>
        </div>
    {{end}}
</body>
<script>
    const times = document.querySelectorAll('span')
    times.forEach(ele => ele.innerHTML = timeAffi(ele.textContent));
    function timeAffi(time) {
        let now = new Date()
        let then = new Date(time)
        let min = ((now-then)/(1000*60)).toFixed()
        let hours = ((now-then)/(1000*3600)).toFixed()
        let days  = ((now-then)/(1000*3600*24)).toFixed()
        if (min < 60) {
            return min + " minutes"
        }else if (hours < 24) {
            return hours + " hours"
        }else {
            return days + " day"
        }
    }
    const CreateButton = document.getElementById('Create')
    const HiddenDiv = document.getElementById('temp')
        CreateButton.addEventListener('click' ,(event) => {
        HiddenDiv.style.visibility = "hidden"
        const CreatePost = document.getElementById('postcreation')
        CreatePost.innerHTML = `
        <form action="/create_post?user={{.Currenuser}}" method="post">
            <h3 class="jj">Title</h3>
            <textarea name="title" id="title" placeholder="Enter your title ..."></textarea>
            <h3 class="jj">Body</h3>
            <textarea name="body" id="body" placeholder="Enter your body ..."></textarea><br>
            <label for="categories" class="jj">Choose a chategorie:</label>
            <select name="categories" id="categories">
                <option value="sport">sport</option>
                <option value="politic">politic</option>
                <option value="enteairtement">enteairtement</option>
                <option value="random">random</option>
            </select>
            <br><br>
            <button type="submit" class="oo">Publish The Post</button>
        </form>
    `
    })
</script>
</html>
